# NEXUS BALL - HiROM FastROM 256 KiB (4 banques de 64 KiB)
#  offset $00000-$07FFF : banque $C0 basse (reserve donnees)
#  offset $08000-$0FFFF : code, vu en $80:8000-$FFFF (en-tete et vecteurs en fin)
#  offset $10000-$3FFFF : banques $C1-$C3 (graphismes, donnees)
MEMORY {
    ZP:     start = $0000,   size = $0100, type = rw;
    RAM:    start = $0200,   size = $1A00, type = rw;
    ROM0L:  start = $C00000, size = $8000,  type = ro, fill = yes, fillval = $FF, file = %O;
    ROM0H:  start = $808000, size = $7FB0,  type = ro, fill = yes, fillval = $FF, file = %O;
    HDR:    start = $80FFB0, size = $30,    type = ro, fill = yes, fillval = $00, file = %O;
    VEC:    start = $80FFE0, size = $20,    type = ro, fill = yes, fillval = $00, file = %O;
    ROM1:   start = $C10000, size = $10000, type = ro, fill = yes, fillval = $FF, file = %O;
    ROM2:   start = $C20000, size = $10000, type = ro, fill = yes, fillval = $FF, file = %O;
    ROM3:   start = $C30000, size = $10000, type = ro, fill = yes, fillval = $FF, file = %O;
}
SEGMENTS {
    ZEROPAGE: load = ZP,    type = zp;
    BSS:      load = RAM,   type = bss;
    DATA0:    load = ROM0L, type = ro, optional = yes;
    CODE:     load = ROM0H, type = ro;
    RODATA:   load = ROM0H, type = ro, optional = yes;
    HEADER:   load = HDR,   type = ro;
    VECTORS:  load = VEC,   type = ro;
    GFX:      load = ROM1,  type = ro;
    DATA2:    load = ROM2,  type = ro, optional = yes;
    DATA3:    load = ROM3,  type = ro, optional = yes;
}
